extends layout
block content
    div#container_admin
        button#admin_button_show.btn.cancel(type='button', onclick='prikazi_okno()') New Message
    
    #dodajanje.form_vnos_koledar_popup
        form.form-container
          h1 Novo obvestilo
          label(for='obvestilo')
            b Obvestilo : 
          div
          textarea#obvestilo_dodajanje(rows='20', cols='80', required='')
          button.btn(type='button', id="btn_dodajanje",onclick='potrdi_dodajanje()') Publish Message
          button.btn.cancel(type='button', onclick='preklici_dodajanje()') Cancel
    
    script(src='../javascripts/obvestila_handler.js' type='text/javascript')