extends layout

block content
    .container
      .form_container.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3


  
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      * {
      box-sizing: border-box;
      }
      .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: 800px;
      }
      
      .columnSecond {
      float: left;
      width: 50%;
      padding: 10px;
      height: 800px;
      }
      
      .row{
        padding-left:10px;
      }
      
      .row:after {
      content: "";
      display: table;
      clear: both;
      }
 
    | Pogled Events
    .row
      .columnSecond
        .row
          h2 Koledar goes here
        .row
          p  
          table(style='width: 583px; height: 286px; border: 1px solid black; border-collapse: collapse;')
            tbody
              tr(style='height: 18px;')
                td(style='background-color: #bfbfbf;')
                  span(style='background-color: #bfbfbf;')  
                th(style='background-color: #bfbfbf;')
                  span(style='background-color: #bfbfbf;') Mon
                th(style='background-color: #bfbfbf;')
                  span(style='background-color: #bfbfbf;') Tue
                th(style='background-color: #bfbfbf;')
                  span(style='background-color: #bfbfbf;') Wed
                th(style='background-color: #bfbfbf;')
                  span(style='background-color: #bfbfbf;') Thu
                th(style='background-color: #bfbfbf;')
                  span(style='background-color: #bfbfbf;') Fri
              tr(style='height: 18px;')
                td(style='width: 30px; height: 18px; text-align: center;') 8:00
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
              tr(style='height: 18px;')
                td(style='background-color: #f2f2f2; text-align: center;') 9:00
                td(style='background-color: #f2f2f2;')  
                td(style='background-color: #f2f2f2;')  
                td(style='background-color: #f2f2f2;')  
                td(style='background-color: #f2f2f2;')  
                td(style='background-color: #f2f2f2;')  
              tr(style='height: 18px;')
                td(style='width: 30px; height: 18px; text-align: center;') 10:00
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
              tr(style='height: 15px;')
                td(style='background-color: #f2f2f2; text-align: center;') 11:00
                td(style='background-color: #f2f2f2;')  
                td(style='background-color: #f2f2f2;')  
                td(style='background-color: #f2f2f2;')  
                td(style='background-color: #f2f2f2;')  
                td(style='background-color: #f2f2f2;')  
              tr(style='height: 18px;')
                td(style='width: 30px; height: 18px; text-align: center;') 12:00
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
              tr(style='height: 18px;')
                td(style='background-color: #f2f2f2; text-align: center;') 13:00
                td(style='background-color: #f2f2f2;')  
                td(style='background-color: #f2f2f2;')  
                td(style='background-color: #f2f2f2;')  
                td(style='background-color: #f2f2f2;')  
                td(style='background-color: #f2f2f2;')  
              tr(style='height: 18px;')
                td(style='width: 30px; height: 18px; text-align: center;') 14:00
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
                th(style='width: 50px; height: 18px;')  
      .column
        h2 Other view here
