doctype html
html
  head
    meta(charset='UTF-8')
    title StraightAs
    meta(name='viewport', content='width=device-width,initial-scale=1')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    //angular
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js')
    script(src='../javascripts/obvestilo_checker.js' type='text/javascript')
    //script(src='/app.js')
    link(rel='stylesheet' href='../stylesheets/style.css')
  body
    nav.navbar.navbar-inverse.navbar-costume
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar_collapse', aria-expanded='false')
            span.sr-only Meni
            span.icon-bar
            span.icon-bar
            span.icon-bar
        // Collect the nav links, forms, and other content for toggling
        #navbar_collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            if user 
              li
                if user 
                  a(href='/home_pogled') Home
            li
              a(href='/pogled_restavracije') Food
            li
              a(href='/pogled_za_dogodke') Events
            li
              a(href='/pogled_avtobusi') Bus
              //Preverimo ali je uporabnik prijavlen in če je ne prikažemo prijave
            unless user
              li
                unless user 
                  a(href='/prijava') Prijava
              //Preverimo ali je uporabnik prijavlen in če je ne prikažemo registracije
            unless user 
              li
                unless user 
                  a(href='/registracija') Registracija
              //Preverimo ali je uporabnik prijavlen in če je prikažemo možnost za odjavo
            if user 
              li
                if user 
                  a(href='/odjava') Odjava
              //Preverimo ali je uporabnik prijavlen in če je prikažemo možnost spremembe gesla
            if user 
              li
                if user 
                  a(href='/sprememba_gesla') Sprememba gesla
              //Preverimo ali je uporabnik prijavlen in če je prikažemo njegovo ime
            if user
              li 
                div  
                  #ime_upor= user
            
            if upr 
              li
                if upr 
                  a(href='/upravljalcevPogled') Upravljalcev pogled
            if admin 
              li
                if admin 
                  a(href='/AdminPogled') Admin - dodaj obvestilo
    block content