extends layout
block content
    .container
      .form_container.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        .form_title
          | FOOD
    div#food_container
        div#map
        div#restavracije_list
            select#restavracije_select(name='restavracije_select', size = '5')
        div#restavracije_info
            textarea#opis_na_strani(readonly='')
        button.btn(type='button', id="dodaj_marker",onclick='addMarker()') Dodaj marker
          
    script(src='../javascripts/restavracije_handler.js' type='text/javascript')
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDoH1G2UcPMrOWRQ_dfvO3HEDeXv_bu8DA&callback=initMap', type='text/javascript')
