extends layout
block content
    .container
      .form_container.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.colorIt123
        .form_title
          | Registracija
          if napaka
          #napaka= napaka
        form(autocomplete='on', method="post", action="/registracija")
          .row
          .form-group
            label(for='input_email') Email naslov
            input#input_email.form-control(type='email' name='email' required='')
          .row
            .form-group.form-group.col-md-6
              label(for='input_password') Geslo
              input#input_password.form-control(type='password' name='password1' required='')
            .form-group.form-group.col-md-6
              label(for='input_re-password') Ponovi geslo
              input#input_re-password.form-control(type='password' name='password2' required='')
          .text-right
            button.btn.btn-success(type='submit', value="Submit") Registracija
    script(src='../javascripts/login_handler.js' type='text/javascript')