extends layout
block content
    div#container_dogodki_upravljalec
        div#list_dogodkov
            div.dogodek_item_container
                div.dogodek_item IME
                div.dogodek_item DATUM
                div.dogodek_item ORGANIZATOR
                div.dogodek_item OPIS
        button#dodaj_btn(onclick='dodaj_dogodek()') Dodaj Dogodek
    #dogodek_vnos.form_vnos_koledar_popup
        form.form-container
            h1#eventTitle Calendar Event
            label(for='Name')
                b Name
            input#name(type='text', name='name', required='')
            label(for='Time')
                b Date
            input#date(type='date', value = '2019-05-26',name='time', required='')
            label(for='Duration')
                b Organiser
            input#organiser(type='text', name='organiser', required='')
            label(for='Description')
             b Description
            textarea#description(rows='5', cols='70', name='description', required='')
            button.btn(type='button', onclick='objavi_dogodek()') Save changes
            button.btn.cancel(type='button', onclick='preklici_dodajanje_dogodka()') Close

        script(src='../javascripts/upravljalcev_pogled_handler.js' type='text/javascript')