body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 800px;
  height:100%;
}

div.colorIt123 {
  border-radius: 5px;
  background-color: #d9d9d9;
  padding: 20px;
}

.avtobusTabela{
  background-color: #A6D2A6;
}

ul.kol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.koledar_izbira{
  margin-bottom: 5px;
  background-color: #9CCBD2;
}

.koledar_izbira:hover{
  background-color: #8CB6BD;
}


div#ime_upor {
  padding: 10px 15px;
  color: #5cc483;
  padding-top: 15px;
  line-height:20px;
}
a {
  color: #00B7FF;
}
#koledar{
  width : 50%;
  height : 35%;
  float : left;
  position : relative;
}

#prikazi_vnos_koledar_button {
  background-color: #555;
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  float : right;
  width: 30px;
  margin : 2px;
  padding : 2px;
}

#prikazi_brisanje_koledar_button {
  background-color: #555;
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  float : right;
  width: 30px;
    margin : 2px;
  padding : 2px;
}

#prikazi_spreminjanje_koledar_button {
  background-color: #555;
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  float : right;
  width: 30px;
    margin : 2px;
  padding : 2px;
}

/* The popup form - hidden by default */
.form_vnos_koledar_popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 40%;
  height: 40%;
  transform: translate(-50%,-50%);
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

textarea {
	border: 3px solid black;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#calendar-container{
    padding: 10px;
    width: 240px;
    height: 240px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial;
    background-image: linear-gradient(#fff, #d3d3d3);
}

#calendar-container>div{
    padding: 0;
    margin-bottom: 10px;
}

#calendar-month-year{
    margin: 5px;
}

#calendar-dates>table>tr>td{
    padding: 5px;
}

#food_container{
  
  background-color: #ADD8E6;
  min-height : 200px;
  min-width : 200px;
  
  width : 90%;
  height : 80%;
  
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9;
  transform: translate(-50%,-40%);
}

#map{
  background-color: green;
  width : 55%;
  height : 85%;
  margin : 3%;
  position: relative;
  float : left;
}

#restavracije_list{
  background-color: blue;
  width : 35%;
  height : 40%;
  border: 3px solid black;
  margin : 1%;
  margin-top:3%;
  position: relative;
  float : right;
}

#restavracije_select{
  width : 100%;
  height : 100%;
  position: relative;
}

#opis_na_strani{
    width : 100%;
  height : 100%;
  position: relative;
}

#restavracije_info{
  background-color: yellow;
  width : 35%;
  height : 40%;
  border: 3px solid black;
  margin : 1%;
  position: relative;
  float : right;
}

#urnik{
  min-height: 400px;
  min-width: 600px;
  border: 1px solid gray;
  background-color: #D3D3D3;
  width : 600px;
  height : 400px;
  margin : 2%;
  position:relative;
  float:left;
}

#urnik_head{
  
}

.urnik_cell{
  border: 1px solid gray;
  width : 100px;
  height: 50px;
  margin: 1%;
  position: relative;
  font-size: 16px;
    font-family: Arial;
    background-image: linear-gradient(#fff, #d3d3d3);
    text-align: center;
  padding: 1px;
}

#todo{
  min-height: 800px;
  min-width: 600px;
  border: 1px solid gray;
  background-color: #D3D3D3;
  width : 600px;
  height : 800px;
  margin : 2%;
  position:relative;
  float:right;
  
}

#todoHeader{
  height : 3%;
  width : 100%;
  background-color: white;
}
#todoBody{
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  height : 95%;
  width : 95%;
  background-color: white;
  overflow-y: scroll;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.todoItem{
  margin : 1%;
  height : 40%;
  width : 40%;
  background-color: #FFFF84;;
  text-align: center;
  overflow-x: wrap;
  overflow-y: scroll;
}

#container_dogodki_upravljalec{
  min-height: 700px;
  width:100%;
  height: 700px;
  background-color: #e6f2ff; 
}
#list_dogodkov{
  background-color: #cce6ff;
  height : 90%;
  position : relative;
  overflow-y: scroll;
}

.dogodek_item_container{
  width :95%;
  height:20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.dogodek_item{
  width : 25%;
  height: 100%;
  border : 2px black solid;
  text-align: center;
  background-color: #6FC6FF;
  display: inline-block;
    overflow-y: scroll;
}


#dodaj_btn{
  height: 8%;
  width : 10%;
  background-color: blue;
  border-radius: 5px;
  text-align: center;
  font-size: 18pt;

}


#dodaj_btn:hover{
  opacity: 2;
}

#container_pregled_dogodkov{
  background-color:   #e6f2ff;
  margin : auto;
  width : 95%;
  height : 750px;
  overflow-y: scroll;
  border: 1px solid #cce6ff;
  border-radius: 2%;
}


.dogodek_item_uporabnik{
  height : 60%;
  width:  29%;
  background-color: #DCDCDC;
    display: inline-block;
    text-align: center;
    margin : 2%;
      border: 2px solid black;
  border-radius: 2%;
    overflow-y: scroll;
}

.item_title{
  width: 100%;
  height: 10%;
  border-bottom: 1px solid gray;
  text-align: inherit;
  font-size: 20pt;
}

.item_body_uporabnik{
   text-align: inherit;
     overflow-y: scroll;
}

#container_admin{
  background-color:   #e6f2ff;
  margin : auto;
  width : 95%;
  height : 750px;
  overflow-y: scroll;
  border: 1px solid #cce6ff;
  border-radius: 2%;
  text-align: center;
}

#admin_button_show{
  height : 200px;
  width : 300px;
  text-align: center;
  background-color: red;
  margin-top:  15%;
  display: inline-block;
}

#container_obvestilo_prikaz{
  display: block;
  position: fixed;
  top: 14%;
  left: 50%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 80%;
  transform: translate(-50%,-50%);
}

.prikaz_obvestila_item{
  background-color: red;
}